body {
    margin: 0;
    font-family: Arial;
    background: #e9eef5;
}

header {
    background: #003b80;
    color: white;
    padding: 15px;
    text-align: center;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.banner img {
    width: 100%;
    border-radius: 10px;
}

.login {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #003b80;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
    }
}
